<!DOCTYPE html>



<html>

    <head>
        <title>404</title>
        <link rel="icon" href="/img/weather.png">
        <link id="currentStyle" rel="stylesheet" href="/css/styles.css">

    </head>

    

        <body>
            <div class="main-content">
                {{>header}}
            
               <p>{{errorMessage}} </p>
            </div>
            

            {{>footer1}}
            <script src="/js/dark.js"></script>
        </body>


</html>